AddOn_FE_DIAN_TodosProv/AddOn_FE_DIAN/AddOn_FE_DIAN/Web References/consultarArchivosDispape/consultarArchivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsconsultarpdfxml.webservice.dispapeles.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="consultarArchivos" targetNamespace="http://wsconsultarpdfxml.webservice.dispapeles.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://wsconsultarpdfxml.webservice.dispapeles.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="consultarArchivos" type="tns:consultarArchivos" />
      <xs:element name="consultarArchivosResponse" type="tns:consultarArchivosResponse" />
      <xs:complexType name="consultarArchivos">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fel_ConsultaFacturaArchivo" type="tns:felConsultaFacturaArchivo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="felConsultaFacturaArchivo">
        <xs:sequence>
          <xs:element minOccurs="0" name="consecutivo" type="xs:long" />
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
          <xs:element minOccurs="0" name="idEmpresa" type="xs:long" />
          <xs:element minOccurs="0" name="prefijo" type="xs:string" />
          <xs:element name="tipoArchivo" type="xs:int" />
          <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultarArchivosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:felRepuestaDescargaDocumentos" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="felRepuestaDescargaDocumentos">
        <xs:sequence>
          <xs:element name="codigoRespuesta" type="xs:int" />
          <xs:element minOccurs="0" name="consecutivo" type="xs:long" />
          <xs:element minOccurs="0" name="descripcionRespuesta" type="xs:string" />
          <xs:element name="estadoProceso" type="xs:int" />
          <xs:element minOccurs="0" name="idErp" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaArchivos" nillable="true" type="tns:felArchivos" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMensajesProceso" nillable="true" type="tns:felMensajesProceso" />
          <xs:element minOccurs="0" name="prefijo" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="felArchivos">
        <xs:sequence>
          <xs:element minOccurs="0" name="formato" type="xs:string" />
          <xs:element minOccurs="0" name="mimeType" type="xs:string" />
          <xs:element minOccurs="0" name="nameFile" type="xs:string" />
          <xs:element minOccurs="0" name="streamFile" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="felMensajesProceso">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoMensaje" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionMensaje" type="xs:string" />
          <xs:element minOccurs="0" name="rechazoNotificacion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarArchivos">
    <wsdl:part name="parameters" element="tns:consultarArchivos" />
  </wsdl:message>
  <wsdl:message name="consultarArchivosResponse">
    <wsdl:part name="parameters" element="tns:consultarArchivosResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultarArchivos">
    <wsdl:operation name="consultarArchivos">
      <wsdl:input name="consultarArchivos" message="tns:consultarArchivos" />
      <wsdl:output name="consultarArchivosResponse" message="tns:consultarArchivosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="consultarArchivosSoapBinding" type="tns:ConsultarArchivos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarArchivos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="consultarArchivos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultarArchivosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="consultarArchivos">
    <wsdl:port name="ConsultarArchivosPort" binding="tns:consultarArchivosSoapBinding">
      <soap:address location="https://consultarpdfxmlfactura.dispafel.com/DFFacturaElectronicaConsultarPdfXmlFactura/consultarArchivos" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>