AddOn_FE_DIAN_TodosProv/AddOn_FE_DIAN/AddOn_FE_DIAN/Service References/WSDispapeles/InterSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.wsdispapeles.dispapeles.com.co/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="InterSoap" targetNamespace="http://soap.wsdispapeles.dispapeles.com.co/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://dpfactura.com.co:443/wsFact_e/InterSoap?xsd=1" namespace="http://soap.wsdispapeles.dispapeles.com.co/" />
    </xsd:schema>
  </types>
  <message name="enviarFactura">
    <part name="parameters" element="tns:enviarFactura" />
  </message>
  <message name="enviarFacturaResponse">
    <part name="parameters" element="tns:enviarFacturaResponse" />
  </message>
  <message name="enviarFacturaIndependiente">
    <part name="parameters" element="tns:enviarFacturaIndependiente" />
  </message>
  <message name="enviarFacturaIndependienteResponse">
    <part name="parameters" element="tns:enviarFacturaIndependienteResponse" />
  </message>
  <message name="enviarFacturaLote">
    <part name="parameters" element="tns:enviarFacturaLote" />
  </message>
  <message name="enviarFacturaLoteResponse">
    <part name="parameters" element="tns:enviarFacturaLoteResponse" />
  </message>
  <message name="consultarEstadoFactura">
    <part name="parameters" element="tns:consultarEstadoFactura" />
  </message>
  <message name="consultarEstadoFacturaResponse">
    <part name="parameters" element="tns:consultarEstadoFacturaResponse" />
  </message>
  <message name="consultarEstadosFactura">
    <part name="parameters" element="tns:consultarEstadosFactura" />
  </message>
  <message name="consultarEstadosFacturaResponse">
    <part name="parameters" element="tns:consultarEstadosFacturaResponse" />
  </message>
  <message name="consultarEstadosFacturaByLote">
    <part name="parameters" element="tns:consultarEstadosFacturaByLote" />
  </message>
  <message name="consultarEstadosFacturaByLoteResponse">
    <part name="parameters" element="tns:consultarEstadosFacturaByLoteResponse" />
  </message>
  <message name="consultarEstadosFacturaByErp">
    <part name="parameters" element="tns:consultarEstadosFacturaByErp" />
  </message>
  <message name="consultarEstadosFacturaByErpResponse">
    <part name="parameters" element="tns:consultarEstadosFacturaByErpResponse" />
  </message>
  <message name="consultarPdfFactura">
    <part name="parameters" element="tns:consultarPdfFactura" />
  </message>
  <message name="consultarPdfFacturaResponse">
    <part name="parameters" element="tns:consultarPdfFacturaResponse" />
  </message>
  <message name="consultarXmlFactura">
    <part name="parameters" element="tns:consultarXmlFactura" />
  </message>
  <message name="consultarXmlFacturaResponse">
    <part name="parameters" element="tns:consultarXmlFacturaResponse" />
  </message>
  <message name="findRegistroDocumentosEmpresa">
    <part name="parameters" element="tns:findRegistroDocumentosEmpresa" />
  </message>
  <message name="findRegistroDocumentosEmpresaResponse">
    <part name="parameters" element="tns:findRegistroDocumentosEmpresaResponse" />
  </message>
  <message name="enviarFacturaPorLoteDto">
    <part name="parameters" element="tns:enviarFacturaPorLoteDto" />
  </message>
  <message name="enviarFacturaPorLoteDtoResponse">
    <part name="parameters" element="tns:enviarFacturaPorLoteDtoResponse" />
  </message>
  <message name="consultarPdfs">
    <part name="parameters" element="tns:consultarPdfs" />
  </message>
  <message name="consultarPdfsResponse">
    <part name="parameters" element="tns:consultarPdfsResponse" />
  </message>
  <portType name="InterSoap">
    <operation name="enviarFactura">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaRequest" message="tns:enviarFactura" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaResponse" message="tns:enviarFacturaResponse" />
    </operation>
    <operation name="enviarFacturaIndependiente">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaIndependienteRequest" message="tns:enviarFacturaIndependiente" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaIndependienteResponse" message="tns:enviarFacturaIndependienteResponse" />
    </operation>
    <operation name="enviarFacturaLote">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaLoteRequest" message="tns:enviarFacturaLote" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaLoteResponse" message="tns:enviarFacturaLoteResponse" />
    </operation>
    <operation name="consultarEstadoFactura">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadoFacturaRequest" message="tns:consultarEstadoFactura" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadoFacturaResponse" message="tns:consultarEstadoFacturaResponse" />
    </operation>
    <operation name="consultarEstadosFactura">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaRequest" message="tns:consultarEstadosFactura" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaResponse" message="tns:consultarEstadosFacturaResponse" />
    </operation>
    <operation name="consultarEstadosFacturaByLote">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaByLoteRequest" message="tns:consultarEstadosFacturaByLote" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaByLoteResponse" message="tns:consultarEstadosFacturaByLoteResponse" />
    </operation>
    <operation name="consultarEstadosFacturaByErp">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaByErpRequest" message="tns:consultarEstadosFacturaByErp" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarEstadosFacturaByErpResponse" message="tns:consultarEstadosFacturaByErpResponse" />
    </operation>
    <operation name="consultarPdfFactura">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarPdfFacturaRequest" message="tns:consultarPdfFactura" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarPdfFacturaResponse" message="tns:consultarPdfFacturaResponse" />
    </operation>
    <operation name="consultarXmlFactura">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarXmlFacturaRequest" message="tns:consultarXmlFactura" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarXmlFacturaResponse" message="tns:consultarXmlFacturaResponse" />
    </operation>
    <operation name="findRegistroDocumentosEmpresa">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/findRegistroDocumentosEmpresaRequest" message="tns:findRegistroDocumentosEmpresa" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/findRegistroDocumentosEmpresaResponse" message="tns:findRegistroDocumentosEmpresaResponse" />
    </operation>
    <operation name="enviarFacturaPorLoteDto">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaPorLoteDtoRequest" message="tns:enviarFacturaPorLoteDto" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/enviarFacturaPorLoteDtoResponse" message="tns:enviarFacturaPorLoteDtoResponse" />
    </operation>
    <operation name="consultarPdfs">
      <input wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarPdfsRequest" message="tns:consultarPdfs" />
      <output wsam:Action="http://soap.wsdispapeles.dispapeles.com.co/InterSoap/consultarPdfsResponse" message="tns:consultarPdfsResponse" />
    </operation>
  </portType>
  <binding name="InterSoapPortBinding" type="tns:InterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="enviarFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarFacturaIndependiente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarFacturaLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarEstadoFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarEstadosFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarEstadosFacturaByLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarEstadosFacturaByErp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPdfFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarXmlFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findRegistroDocumentosEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarFacturaPorLoteDto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPdfs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InterSoap">
    <port name="InterSoapPort" binding="tns:InterSoapPortBinding">
      <soap:address location="https://dpfactura.com.co:443/wsFact_e/InterSoap" />
    </port>
  </service>
</definitions>