AddOn_FE_DIAN_TodosProv/AddOn_FE_DIAN/AddOn_FE_DIAN/Service References/WSDispapeles/InterSoap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap.wsdispapeles.dispapeles.com.co/" targetNamespace="http://soap.wsdispapeles.dispapeles.com.co/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consultarEstadoFactura" type="tns:consultarEstadoFactura" />
  <xs:element name="consultarEstadoFacturaResponse" type="tns:consultarEstadoFacturaResponse" />
  <xs:element name="consultarEstadosFactura" type="tns:consultarEstadosFactura" />
  <xs:element name="consultarEstadosFacturaByErp" type="tns:consultarEstadosFacturaByErp" />
  <xs:element name="consultarEstadosFacturaByErpResponse" type="tns:consultarEstadosFacturaByErpResponse" />
  <xs:element name="consultarEstadosFacturaByLote" type="tns:consultarEstadosFacturaByLote" />
  <xs:element name="consultarEstadosFacturaByLoteResponse" type="tns:consultarEstadosFacturaByLoteResponse" />
  <xs:element name="consultarEstadosFacturaResponse" type="tns:consultarEstadosFacturaResponse" />
  <xs:element name="consultarPdfFactura" type="tns:consultarPdfFactura" />
  <xs:element name="consultarPdfFacturaResponse" type="tns:consultarPdfFacturaResponse" />
  <xs:element name="consultarPdfs" type="tns:consultarPdfs" />
  <xs:element name="consultarPdfsResponse" type="tns:consultarPdfsResponse" />
  <xs:element name="consultarXmlFactura" type="tns:consultarXmlFactura" />
  <xs:element name="consultarXmlFacturaResponse" type="tns:consultarXmlFacturaResponse" />
  <xs:element name="enviarFactura" type="tns:enviarFactura" />
  <xs:element name="enviarFacturaIndependiente" type="tns:enviarFacturaIndependiente" />
  <xs:element name="enviarFacturaIndependienteResponse" type="tns:enviarFacturaIndependienteResponse" />
  <xs:element name="enviarFacturaLote" type="tns:enviarFacturaLote" />
  <xs:element name="enviarFacturaLoteResponse" type="tns:enviarFacturaLoteResponse" />
  <xs:element name="enviarFacturaPorLoteDto" type="tns:enviarFacturaPorLoteDto" />
  <xs:element name="enviarFacturaPorLoteDtoResponse" type="tns:enviarFacturaPorLoteDtoResponse" />
  <xs:element name="enviarFacturaResponse" type="tns:enviarFacturaResponse" />
  <xs:element name="findRegistroDocumentosEmpresa" type="tns:findRegistroDocumentosEmpresa" />
  <xs:element name="findRegistroDocumentosEmpresaResponse" type="tns:findRegistroDocumentosEmpresaResponse" />
  <xs:complexType name="consultarEstadosFacturaByLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ebFelConsultaFacturaWS">
    <xs:sequence>
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="fechafacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacionString" type="xs:string" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element name="tipodocumento" type="xs:int" />
      <xs:element minOccurs="0" name="tokenempresa" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadosFacturaByLoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ebFelUltimoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ebFelUltimoEstado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:encabezadoFacturaEstadoDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="encabezadoFacturaEstadoDto">
    <xs:sequence>
      <xs:element name="aceptacion" type="xs:int" />
      <xs:element name="acuse" type="xs:int" />
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="cufe" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="descripciondian" type="xs:string" />
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="estadoAdquiriente" type="xs:int" />
      <xs:element name="estadodian" type="xs:int" />
      <xs:element minOccurs="0" name="fechafacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecharespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEstadoAdquiriente" type="xs:string" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element name="rechazo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadosFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadosFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ebFelUltimoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:eBfelEncabezadofactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelEncabezadofactura">
    <xs:sequence>
      <xs:element name="accionAcuse" type="xs:int" />
      <xs:element name="aceptacion" type="xs:int" />
      <xs:element name="activo" type="xs:int" />
      <xs:element name="acuse" type="xs:int" />
      <xs:element name="acuseVista" type="xs:boolean" />
      <xs:element minOccurs="0" name="aplicafel" type="xs:string" />
      <xs:element minOccurs="0" name="bariolocalidad" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional1" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional10" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional11" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional12" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional13" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional14" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional15" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional16" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional17" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional18" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional19" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional2" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional20" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional3" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional4" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional5" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional6" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional7" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional8" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional9" type="xs:string" />
      <xs:element minOccurs="0" name="canal" type="xs:string" />
      <xs:element minOccurs="0" name="centroCostos" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="clasificacionCliente" type="xs:string" />
      <xs:element name="codigoPlantillaPdf" type="xs:int" />
      <xs:element minOccurs="0" name="codigovendedor" type="xs:string" />
      <xs:element minOccurs="0" name="comentarioAcuse" type="xs:string" />
      <xs:element minOccurs="0" name="condicionPagoReferencia" type="xs:string" />
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="consecutivofacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="cufe" type="xs:string" />
      <xs:element minOccurs="0" name="cufefacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="despachadoACiudad" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoADireccion" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoANombre" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAObservacion" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAObservacionLugar" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoATelefono" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAZonaDespacho" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documentoEmitidoEn" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="enviadaAAdquirientes" type="xs:int" />
      <xs:element minOccurs="0" name="envioPorEmailPlataforma" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="estadoactual" type="xs:string" />
      <xs:element name="estadodian" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFirma" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaemisionordencompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacionFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacionInicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturamodificada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecharespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechavencimiento" type="xs:dateTime" />
      <xs:element name="filterTotal" type="xs:int" />
      <xs:element minOccurs="0" name="horaEntregaProgramada" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionProveedor" type="xs:string" />
      <xs:element name="idprefijo" type="xs:int" />
      <xs:element name="idpunrang" type="xs:int" />
      <xs:element name="impuestoTotalTemp" type="xs:double" />
      <xs:element minOccurs="0" name="incoterm" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaAdicionales" nillable="true" type="tns:eBfelCamposadicionales" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCuotas" nillable="true" type="tns:eBfelPagocuotas" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDeAdjuntos" nillable="true" type="tns:documentosAdjuntos" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDetalle" nillable="true" type="tns:eBfelDetallefactura" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaFacturasmodificadas" nillable="true" type="tns:eBfelFacturamodificada" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaImpuestos" nillable="true" type="tns:eBfelImpuestos" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMandantes" nillable="true" type="tns:eBfelMandantesContrato" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaParametros" nillable="true" type="tns:eBgenparamsystem" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaTerminos" nillable="true" type="tns:eBfelTerminosdepago" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lpref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mediopago" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" type="xs:string" />
      <xs:element minOccurs="0" name="nitProveedorTecnologico" type="xs:string" />
      <xs:element minOccurs="0" name="nombreProveedor" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecompleto" type="xs:string" />
      <xs:element minOccurs="0" name="nombrevendedor" type="xs:string" />
      <xs:element minOccurs="0" name="numeroFacturaAnterior" type="xs:string" />
      <xs:element minOccurs="0" name="numeroaceptacioninterno" type="xs:string" />
      <xs:element minOccurs="0" name="numeroidentificacion" type="xs:string" />
      <xs:element minOccurs="0" name="ordencompra" type="xs:string" />
      <xs:element minOccurs="0" name="ordencompravendedor" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="xs:string" />
      <xs:element minOccurs="0" name="passwordPt" type="xs:string" />
      <xs:element minOccurs="0" name="periododepagoa" type="xs:int" />
      <xs:element name="porcentajeDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="port" type="xs:string" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element minOccurs="0" name="prefijofacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="primernombre" type="xs:string" />
      <xs:element minOccurs="0" name="procesadoPrintNet" type="xs:string" />
      <xs:element name="proceso" type="xs:int" />
      <xs:element minOccurs="0" name="razonsocial" type="xs:string" />
      <xs:element name="rechazo" type="xs:int" />
      <xs:element name="regimen" type="xs:int" />
      <xs:element minOccurs="0" name="rutaCarga" type="xs:string" />
      <xs:element minOccurs="0" name="rutaDescarga" type="xs:string" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundonombre" type="xs:string" />
      <xs:element minOccurs="0" name="server" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="tipocompra" type="xs:int" />
      <xs:element minOccurs="0" name="tipodocumento" type="xs:string" />
      <xs:element name="tipoidentificacion" type="xs:int" />
      <xs:element minOccurs="0" name="tiponota" type="xs:string" />
      <xs:element minOccurs="0" name="tipopersona" type="xs:string" />
      <xs:element minOccurs="0" name="tokenempresa" type="xs:string" />
      <xs:element name="totalbaseimponible" type="xs:double" />
      <xs:element name="totalfactura" type="xs:double" />
      <xs:element name="totalimportebruto" type="xs:double" />
      <xs:element name="trm" type="xs:double" />
      <xs:element minOccurs="0" name="usernamePt" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioQueTomaElPedido" type="xs:string" />
      <xs:element minOccurs="0" name="valNotaDesTotal" type="xs:string" />
      <xs:element minOccurs="0" name="validacionDian" type="xs:string" />
      <xs:element minOccurs="0" name="zona" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelCamposadicionales">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="campoadicional1" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional10" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional11" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional12" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional13" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional14" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional15" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional16" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional17" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional18" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional19" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional2" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional20" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional3" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional4" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional5" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional6" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional7" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional8" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional9" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idDetalleFactura" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfactura" type="xs:int" />
      <xs:element minOccurs="0" name="nombrecampo" type="xs:string" />
      <xs:element name="seccion" type="xs:int" />
      <xs:element minOccurs="0" name="valorcampo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelPagocuotas">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentosAdjuntos">
    <xs:sequence>
      <xs:element minOccurs="0" name="contenidoDelDoc" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombreConExtension" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelDetallefactura">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="campoadicional1" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional10" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional2" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional3" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional4" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional5" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional6" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional7" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional8" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional9" type="xs:string" />
      <xs:element name="cantdisponotas" type="xs:double" />
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="codigoproducto" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gramaje" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="tns:eBvenProducto" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfactura" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaAdicionales" nillable="true" type="tns:eBfelCamposadicionales" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaImpuestos" nillable="true" type="tns:eBfelImpuestos" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaImpuestosPro" nillable="true" type="tns:eBvenImpuesto" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaPrecios" nillable="true" type="tns:eBvenPrecio" />
      <xs:element minOccurs="0" name="notaDescuento" type="xs:string" />
      <xs:element name="porcentajedescuento" type="xs:double" />
      <xs:element name="posicion" type="xs:int" />
      <xs:element name="preciosinimpuestos" type="xs:double" />
      <xs:element name="preciototal" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="seriales" type="xs:string" />
      <xs:element minOccurs="0" name="tamanio" type="xs:string" />
      <xs:element minOccurs="0" name="unidadmedida" type="xs:string" />
      <xs:element name="valorimpuestos" type="xs:double" />
      <xs:element name="valorunitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenProducto">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="tns:eBvenDescuento" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="impuesto" type="tns:eBvenImpuesto" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="impuestos" nillable="true" type="tns:eBvenImpuesto" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="tns:eBvenPrecio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precios" nillable="true" type="tns:eBvenPrecio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relProductoImp" nillable="true" type="tns:eBvenRelProductImpuesto" />
      <xs:element minOccurs="0" name="sucursal" type="tns:eBvenSucursal" />
      <xs:element minOccurs="0" name="unidadMedida" type="tns:eBvenUnidadMedida" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="unidadesMedida" nillable="true" type="tns:eBvenUnidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenDescuento">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idfkproductoDescripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenImpuesto">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" type="tns:eBvenPorcentaje" />
      <xs:element name="porcentajeString" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenPorcentaje">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkimpuesto" type="xs:int" />
      <xs:element minOccurs="0" name="idfkimpuestoDescripcion" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenPrecio">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idfkproductoDescripcion" type="xs:string" />
      <xs:element name="idfksucursal" type="xs:int" />
      <xs:element minOccurs="0" name="idfksucursalDescripcion" type="xs:string" />
      <xs:element name="idfktipocliente" type="xs:int" />
      <xs:element minOccurs="0" name="idfktipoclienteDescripcion" type="xs:string" />
      <xs:element name="idfkunidadmedida" type="xs:int" />
      <xs:element minOccurs="0" name="idfkunidadmedidaDescripcion" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal" type="tns:eBvenSucursal" />
      <xs:element minOccurs="0" name="tpCliente" type="tns:eBvenTipoCliente" />
      <xs:element minOccurs="0" name="uniMedida" type="tns:eBvenUnidadMedida" />
      <xs:element name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenSucursal">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkempresa" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="puntoVenta" nillable="true" type="tns:ebVenPuntoVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ebVenPuntoVenta">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="fechacreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechamodificacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idfkempresa" type="xs:int" />
      <xs:element name="idfksucursal" type="xs:int" />
      <xs:element name="idfkusuario" type="xs:int" />
      <xs:element name="marcaEliminacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="puntorango" nillable="true" type="tns:eBfelPuntorango" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelPuntorango">
    <xs:sequence>
      <xs:element name="defecto" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idempresa" type="xs:int" />
      <xs:element name="idpuntoventa" type="xs:int" />
      <xs:element name="idrango" type="xs:int" />
      <xs:element name="idresolucion" type="xs:int" />
      <xs:element name="idsucursal" type="xs:int" />
      <xs:element minOccurs="0" name="rangos" type="tns:eBrangos" />
      <xs:element name="tiporango" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBrangos">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="clavetecnicadecontrol" type="xs:string" />
      <xs:element name="consecutivoNotas" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="factura_actual" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechavigenciadesde" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechavigenciahasta" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkempresa" type="xs:int" />
      <xs:element name="idfkresolucion" type="xs:int" />
      <xs:element name="idpuntorango" type="xs:int" />
      <xs:element name="idtipo_rango" type="xs:int" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element name="rangofinal" type="xs:int" />
      <xs:element name="rangoinicial" type="xs:int" />
      <xs:element minOccurs="0" name="resolucionTemp" type="tns:eBresolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBresolucion">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecharesolucion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="idsoftware" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nomempresa" type="xs:string" />
      <xs:element minOccurs="0" name="numeroresolucion" type="xs:string" />
      <xs:element minOccurs="0" name="pin" type="xs:string" />
      <xs:element minOccurs="0" name="textoResolucion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenTipoCliente">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenUnidadMedida">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sigla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBvenRelProductImpuesto">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfkimpuesto" type="xs:int" />
      <xs:element minOccurs="0" name="idfkimpuestoDescripcion" type="xs:string" />
      <xs:element name="idfkporcentaje" type="xs:int" />
      <xs:element minOccurs="0" name="idfkporcentajeDescripcion" type="xs:string" />
      <xs:element name="idfkproducto" type="xs:int" />
      <xs:element minOccurs="0" name="idfkproductoDescripcion" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" type="tns:eBvenPorcentaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelImpuestos">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="baseimponible" type="xs:double" />
      <xs:element minOccurs="0" name="codigoImpuestoRetencion" type="xs:string" />
      <xs:element minOccurs="0" name="codigoproducto" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaMod" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idFkEmpresa" type="xs:int" />
      <xs:element name="idUsuarioAlta" type="xs:int" />
      <xs:element name="idUsuarioBaja" type="xs:int" />
      <xs:element name="idUsuarioMod" type="xs:int" />
      <xs:element name="idfactura" type="xs:int" />
      <xs:element name="porcentaje" type="xs:double" />
      <xs:element name="valorImpuestoRetencion" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelFacturamodificada">
    <xs:sequence>
      <xs:element minOccurs="0" name="consecutivofacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="cufefacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="fechafacturamodificada" type="xs:dateTime" />
      <xs:element name="idfactura" type="xs:int" />
      <xs:element name="idfkempresa" type="xs:int" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelMandantesContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionContrato" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaSuscripcionContrato" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="identificadorItem" type="xs:string" />
      <xs:element name="idfactura" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMandantes" nillable="true" type="tns:eBfelMandantesPersonas" />
      <xs:element minOccurs="0" name="numeroContrato" type="xs:string" />
      <xs:element minOccurs="0" name="numeroIdentificacion" type="xs:string" />
      <xs:element minOccurs="0" name="puntoVenta" type="tns:eBfelMandantesPuntoVenta" />
      <xs:element minOccurs="0" name="tipoContrato" type="xs:string" />
      <xs:element minOccurs="0" name="tipoIdentificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelMandantesPersonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idMandanteContrato" type="xs:int" />
      <xs:element minOccurs="0" name="identificacionMandante" type="xs:string" />
      <xs:element minOccurs="0" name="nombreMandante" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="xs:string" />
      <xs:element minOccurs="0" name="tipoEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" name="tipoIdentificacionMandante" type="xs:string" />
      <xs:element minOccurs="0" name="tipoObligacion" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPersona" type="xs:string" />
      <xs:element minOccurs="0" name="tipoRepresentacion" type="xs:string" />
      <xs:element minOccurs="0" name="zonaPostal" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelMandantesPuntoVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idMandanteContrato" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBgenparamsystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="encripted" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelTerminosdepago">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="notaTerminosPago" type="xs:string" />
      <xs:element minOccurs="0" name="porcentajeDeRecargoPorMulta" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:envioFacturaRespuestaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="envioFacturaRespuestaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="consectoNota" type="xs:string" />
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="cufe" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFactura" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element name="resultado" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRegistroDocumentosEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRegistroDocumentosEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:eBfelEnviosporempresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelEnviosporempresa">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="error" type="xs:int" />
      <xs:element minOccurs="0" name="fechaAgrupada" type="xs:string" />
      <xs:element minOccurs="0" name="fechaenvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idfkempresa" type="xs:int" />
      <xs:element minOccurs="0" name="mensajeError" type="xs:string" />
      <xs:element name="modulo" type="xs:int" />
      <xs:element name="tipodocumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaIndependiente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:eBfelEncabezadofacturaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelEncabezadofacturaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="aplicafel" type="xs:string" />
      <xs:element minOccurs="0" name="bariolocalidad" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional1" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional10" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional11" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional12" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional13" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional14" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional15" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional16" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional17" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional18" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional19" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional2" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional20" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional3" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional4" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional5" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional6" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional7" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional8" type="xs:string" />
      <xs:element minOccurs="0" name="campoAdicional9" type="xs:string" />
      <xs:element minOccurs="0" name="centroCostos" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="clasificacionCliente" type="xs:string" />
      <xs:element name="codigoPlantillaPdf" type="xs:int" />
      <xs:element minOccurs="0" name="codigovendedor" type="xs:string" />
      <xs:element minOccurs="0" name="condicionPagoReferencia" type="xs:string" />
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="consecutivofacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="cufefacturamodificada" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="despachadoACiudad" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoADireccion" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoANombre" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAObservacion" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAObservacionLugar" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoATelefono" type="xs:string" />
      <xs:element minOccurs="0" name="despachadoAZonaDespacho" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="documentoEmitidoEn" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="envioPorEmailPlataforma" type="xs:string" />
      <xs:element minOccurs="0" name="fechaemisionordencompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafacturamodificada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechavencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaEntregaProgramada" type="xs:string" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element minOccurs="0" name="incoterm" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCamposAdicionales" nillable="true" type="tns:eBfelCamposadicionales" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCuotas" nillable="true" type="tns:eBfelPagocuotas" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDeAdjuntos" nillable="true" type="tns:documentosAdjuntos" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDetalle" nillable="true" type="tns:eBfelDetallefacturaDto" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaFacturasmodificadas" nillable="true" type="tns:eBfelFacturamodificada" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaImpuestos" nillable="true" type="tns:eBfelImpuestosDto" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMandantes" nillable="true" type="tns:eBfelMandantesContrato" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaTerminos" nillable="true" type="tns:eBfelTerminosdepago" />
      <xs:element minOccurs="0" name="mediopago" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" type="xs:string" />
      <xs:element minOccurs="0" name="nitProveedorTecnologico" type="xs:string" />
      <xs:element minOccurs="0" name="nombrevendedor" type="xs:string" />
      <xs:element minOccurs="0" name="numeroaceptacioninterno" type="xs:string" />
      <xs:element minOccurs="0" name="numeroidentificacion" type="xs:string" />
      <xs:element minOccurs="0" name="ordencompra" type="xs:string" />
      <xs:element minOccurs="0" name="ordencompravendedor" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="xs:string" />
      <xs:element minOccurs="0" name="passwordPt" type="xs:string" />
      <xs:element minOccurs="0" name="periododepagoa" type="xs:int" />
      <xs:element name="porcentajeDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="port" type="xs:string" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="primernombre" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocial" type="xs:string" />
      <xs:element name="regimen" type="xs:int" />
      <xs:element minOccurs="0" name="rutaCarga" type="xs:string" />
      <xs:element minOccurs="0" name="rutaDescarga" type="xs:string" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundonombre" type="xs:string" />
      <xs:element minOccurs="0" name="server" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element name="tipocompra" type="xs:int" />
      <xs:element minOccurs="0" name="tipodocumento" type="xs:string" />
      <xs:element name="tipoidentificacion" type="xs:int" />
      <xs:element minOccurs="0" name="tiponota" type="xs:string" />
      <xs:element minOccurs="0" name="tipopersona" type="xs:string" />
      <xs:element minOccurs="0" name="tokenempresa" type="xs:string" />
      <xs:element name="totalbaseimponible" type="xs:double" />
      <xs:element name="totalfactura" type="xs:double" />
      <xs:element name="totalimportebruto" type="xs:double" />
      <xs:element name="trm" type="xs:double" />
      <xs:element minOccurs="0" name="usernamePt" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelDetallefacturaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="campoadicional1" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional10" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional2" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional3" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional4" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional5" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional6" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional7" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional8" type="xs:string" />
      <xs:element minOccurs="0" name="campoadicional9" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="codigoproducto" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="gramaje" type="xs:string" />
      <xs:element name="idDetalleFactura" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaImpuestos" nillable="true" type="tns:eBfelImpuestosDto" />
      <xs:element name="porcentajedescuento" type="xs:double" />
      <xs:element name="posicion" type="xs:int" />
      <xs:element name="preciosinimpuestos" type="xs:double" />
      <xs:element name="preciototal" type="xs:double" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
      <xs:element minOccurs="0" name="seriales" type="xs:string" />
      <xs:element minOccurs="0" name="tamanio" type="xs:string" />
      <xs:element minOccurs="0" name="unidadmedida" type="xs:string" />
      <xs:element name="valorimpuestos" type="xs:double" />
      <xs:element name="valorunitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eBfelImpuestosDto">
    <xs:sequence>
      <xs:element name="baseimponible" type="xs:double" />
      <xs:element minOccurs="0" name="codigoImpuestoRetencion" type="xs:string" />
      <xs:element minOccurs="0" name="codigoproducto" type="xs:string" />
      <xs:element name="porcentaje" type="xs:double" />
      <xs:element name="valorImpuestoRetencion" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaIndependienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:envioFacturaRespuestaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadoFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadoFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ebFelUltimoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarXmlFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarXmlFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documentoElectronicoWsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoElectronicoWsDto">
    <xs:sequence>
      <xs:element name="consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" name="formato" type="xs:string" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element minOccurs="0" name="mimeType" type="xs:string" />
      <xs:element minOccurs="0" name="nameFile" type="xs:string" />
      <xs:element minOccurs="0" name="prefijo" type="xs:string" />
      <xs:element minOccurs="0" name="streamFile" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaPorLoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:eBfelEncabezadofacturaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaPorLoteDtoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:envioFacturaLoteRespuestaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="envioFacturaLoteRespuestaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaRespuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idErp" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element name="numeroLote" type="xs:int" />
      <xs:element name="resultado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPdfFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPdfFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documentoElectronicoWsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPdfs">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="consultarPdfsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:documentoElectronicoWsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadosFacturaByErp">
    <xs:sequence>
      <xs:element minOccurs="0" name="objConsultaFactura" type="tns:ebFelConsultaFacturaWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstadosFacturaByErpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ebFelUltimoEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:eBfelEncabezadofactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarFacturaLoteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:envioFacturaLoteRespuestaDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>