AddOn_FE_DIAN_Donucol/AddOn_FE_DIAN/Web References/consultarArchivosDispape/consultarArchivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://wsconsultarpdfxml.webservice.dispapeles.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="consultarArchivos" targetNamespace="http://wsconsultarpdfxml.webservice.dispapeles.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://wsconsultarpdfxmlfactura.dispafel.com:443/DFFacturaElectronicaConsultarPdfXmlFactura/consultarArchivos?xsd=1" namespace="http://wsconsultarpdfxml.webservice.dispapeles.com/" />
    </xsd:schema>
  </types>
  <message name="consultarArchivos">
    <part name="parameters" element="tns:consultarArchivos" />
  </message>
  <message name="consultarArchivosResponse">
    <part name="parameters" element="tns:consultarArchivosResponse" />
  </message>
  <message name="consultarRegistrosIA">
    <part name="parameters" element="tns:consultarRegistrosIA" />
  </message>
  <message name="consultarRegistrosIAResponse">
    <part name="parameters" element="tns:consultarRegistrosIAResponse" />
  </message>
  <message name="borrarRegistrosIA">
    <part name="parameters" element="tns:borrarRegistrosIA" />
  </message>
  <message name="borrarRegistrosIAResponse">
    <part name="parameters" element="tns:borrarRegistrosIAResponse" />
  </message>
  <message name="ConsultarRegistrosIAManual">
    <part name="parameters" element="tns:ConsultarRegistrosIAManual" />
  </message>
  <message name="ConsultarRegistrosIAManualResponse">
    <part name="parameters" element="tns:ConsultarRegistrosIAManualResponse" />
  </message>
  <portType name="ConsultarArchivos">
    <operation name="consultarArchivos">
      <input wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/consultarArchivosRequest" message="tns:consultarArchivos" />
      <output wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/consultarArchivosResponse" message="tns:consultarArchivosResponse" />
    </operation>
    <operation name="consultarRegistrosIA">
      <input wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/consultarRegistrosIARequest" message="tns:consultarRegistrosIA" />
      <output wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/consultarRegistrosIAResponse" message="tns:consultarRegistrosIAResponse" />
    </operation>
    <operation name="borrarRegistrosIA">
      <input wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/borrarRegistrosIARequest" message="tns:borrarRegistrosIA" />
      <output wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/borrarRegistrosIAResponse" message="tns:borrarRegistrosIAResponse" />
    </operation>
    <operation name="ConsultarRegistrosIAManual">
      <input wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/ConsultarRegistrosIAManualRequest" message="tns:ConsultarRegistrosIAManual" />
      <output wsam:Action="http://wsconsultarpdfxml.webservice.dispapeles.com/ConsultarArchivos/ConsultarRegistrosIAManualResponse" message="tns:ConsultarRegistrosIAManualResponse" />
    </operation>
  </portType>
  <binding name="ConsultarArchivosPortBinding" type="tns:ConsultarArchivos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultarArchivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarRegistrosIA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="borrarRegistrosIA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConsultarRegistrosIAManual">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="consultarArchivos">
    <port name="ConsultarArchivosPort" binding="tns:ConsultarArchivosPortBinding">
      <soap:address location="https://wsconsultarpdfxmlfactura.dispafel.com:443/DFFacturaElectronicaConsultarPdfXmlFactura/consultarArchivos" />
    </port>
  </service>
</definitions>